.cart-button{
    display: flex;
    background-color:purple;
    border-radius: 20px;
    width:25%;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 10px;
  
    margin-top: 30px;
    background-color: rgba(41, 37, 37, 0.5);
    flex-wrap: wrap;
 
}
.add_cart{
 margin-left: 5px;
 z-index: 1;
 background-color: transparent;
 border: none;

}
.icon{
font-size: 20px;
padding-top: 2px;
z-index: 1;
}

.count{
    background-color: black;
    width:25px;
    height:25px;
    border-radius: 100%;
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 12px;
}